doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script(src='/js/jquery/dist/jquery.min.js')
		script(src='/js/topojson/topojson.js')
		script(src='/js/d3/d3.min.js')
		script(src='/socket.io/socket.io.js')
		block content
