.land {
  //fill: #222;
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.boundary {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
}

body {
	background:black;
	color: #777;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
}
