.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  //fill: #222;
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.boundary {
  fill: none;
  stroke: #222;
  stroke-width: .5px;
}
