.land {
  //fill: #222;
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.boundary {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
}

body {
	background:black;
	color: #777;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
}
g.stationlist{
	font-size: 30px;
}
text.stationlist.title{
	fill: orange;
}
text.maintitle{
	font-size: 100px;
	text-anchor: middle;
	fill: teal;
	stroke: orange;
}
text.total_title{
	font-size: 25px;
	text-anchor: end;
	fill: teal;
}
text.total_contacts{
	font-size:100px;
	text-anchor:end;
	fill:red;
}

path.greyline{
	stroke:yellow;
	stroke-width:1;
	stroke-opacity:0.5;
	fill:yellow;
	fill-opacity:0.03;
}
